<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>liveChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <div class="live-chat">
        <div class="header">
            <div class="header-left">
                <p>Start Chat</p>
            </div>
            <div class="header-right">
                <div class="chat-hide">-</div>
                <div class="chat-close">X</div>
            </div>
        </div>
        <div class="chat-body">
            <div class="chat-area">
                <ul id="messages"></ul>
            </div>
            <form class="input-area" id="message-form">
                    <input class="text-input" name="message" type="text" placeholder="type Your message">
                    <button class="button">Send</button>
            </form>
        </div>
    </div>

    <script src="socket.io/socket.io.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/chat.js"></script>
</body>
</html>